@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: #3A6201;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    padding: 6px;
}

.logo img {
    max-width: 140px;
}

.hamburger {
    display: block;
}

.hamburger .btn {
    color: white;
    background-color: transparent;
    margin: 0.8rem 2vw;
    border: none;
    font-size: 2em;
}

.navbar ul li a {
    font-size: 1.2rem;
    display: block;
    padding: 10px 25px;
    text-decoration: none;
}

.nav-link {
    color: white;
}

.social {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.social-media {
    text-align: center;
}

.navbar.open {
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    height: 240px;
    background-color: #3A6201;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.navbar {
    display: none;
}

.navbar.open ul {
    z-index: 1;
    display: block;
    width: fit-content;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.navbar.open ul li .social-media{
    display: flex;
    z-index: 1;
}

.navbar ul li a{
    padding: 15px;
}

.hamburger span:nth-child(1) {
    display: block;
}

.hamburger span:nth-child(2) {
    display: none;
}

.hamburger.open span:nth-child(1) {
    display: none;
}

.hamburger.open span:nth-child(2) {
    display: block;
}

.hero-section {
    padding: 20px;
    background-color: #eaeef2;
    
}

.hero-img {
    text-align: center;
}

.hero-img img {
    max-width: 100%;
}

.hero-text p {
    font-family: 'Roboto', sans-serif;
    color: #e15900;
    text-align: center;
    font-weight: 500;
}

.hero-text h2, .hero-text h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.join-button-hero {
    margin-top: 30px;
    text-align: center;
}

.join-button-hero a, .join-action a {
    padding: 6px 15px;
    border-radius: 10px;
    background-color: #b34400;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.join-action a {
   background-color: #3A6201;
   font-size: 1.4em;
}

.coastal-zones h1 {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.coastal {
    text-align: center;
}

.coastal img{
    max-width: 100%;
}

.coastal h3, .coastal p{
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

.coastal:after, .weather h3:after, #forecast h3:after, .special-drinks h3:after{
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background: #e15900;
    margin: 8px auto;
}

.weather h3, .weather p, .special-drinks h3, .special-drinks p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.icon-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icons p{
    margin: 10px;
}

#forecast p {
    font-size: .8em;
}

footer {
    background-color: #3A6201;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

footer p {
    color: white;
}

.logo-footer img {
    max-width: 200px;
}

.logo-footer {
    text-align: center;
    padding: 10px;
}

.icons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.coastal {
    padding: 5px;
    border: 8px outset #005C53;
    margin: 5px;
    background-color: #eaeef2;
}

#forecast-container section{
    padding: 5px;
    border: 4px groove #005C53;
    margin: 5px;
    background-color: #eaeef2;
}

#forecast p {
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (600 - 300)));
}

.action {
    background-image: url("../images/action-small.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 5px;
    border: 8px outset #005C53;
    margin: 5px;
    background-color: #eaeef2;;
}

.img-container {
    padding: 10px;
    text-align: center;
}

.img-container img{
    max-width: 300px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social img {
    width: 20px;
}

form {
    padding: 0 3% 3% 3%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #1C425C;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #1C425C;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #1C425C;
    font-weight: 600;
}

form label.top input, form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #1C425C;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    background-color: #eff4f7;
    max-width: 30rem;
}

form label.top {
    color: #1C425C;
}

form label.top textarea {
    margin-bottom: .75rem;
}

form label.top input[type="tel"]{
    margin-bottom: .75rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color:#1C425C;
    position: relative;
    font-weight: 600;
}

form label.sbs::before {
    display: none;
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #424242;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}

form label.sbs:hover::before {
    display: block;
}

.submitBtn {
    border: none;
    background-color: #b34400;
    color: white;
    font-weight: 600;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto;
    width: 95%;
    max-width: 25rem;
    cursor: pointer;
}

.button-cont {
    text-align: center;
}

form label.top input:required {
    background-color: rgb(255, 0, 0, 0.2);
}

form label.top input:required:valid {
    background-color: rgb(0, 255, 0, 0.2);
}

.select-container {
    display: flex;
    flex-direction: column;
}

.select-container label {
    padding: 8px;
}

.orderSec {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
    border: 8px outset #005C53;
    margin: 5px;
    background-color: #eaeef2;
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
}

.embed-map {
    text-align: center;
}

.map h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.contact {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.history, .bf-history {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.history {
    padding: 10px;
}

.history img {
    max-width: 100%;
}

.map h2:after, .contact h2:after, .history h2:after, .bf-history h2:after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background: #e15900;
    margin: 8px auto;
}

.bf-history img {
    max-width: 100%;
}

.bf-history {
    padding: 10px;
}

.active {
    background-color: white;
    color: #3A6201;
    font-weight: 600;
}

.map-img img{
    width: 350px;
    height: 350px;
    padding: 5px;
    border: 8px outset #005C53;
    margin: 5px;
    background-color: #eaeef2;
}

.history img {
    padding: 5px;
    border: 8px outset #005C53;
    margin: 5px;
    background-color: #eaeef2;
}

.map-img{
    text-align: center;
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.3s;
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
    animation-fill-mode: forwards;
}
  
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}