main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 3em;
    padding: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 auto;
}

.tables{
    color: #03186B;
    margin: 1em;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #03186B;
}

.tables tr, td, th{
    border: 2px solid #03186B;
    padding: 0.75em;
    align-items: center;
    text-align: center;
}

.tables td ul, main .descriptions ul{
    list-style-position: inside;
}

.tables td img{
    width: 200px;
    border: 1px solid #03186B;
}

main .descriptions{
    grid-column: 1/3;
    padding: 1.5em;
    width: min(600px, 100%);
    border: 2px solid #03186B;
    color: #03186B;
}

main .descriptions h2{
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 37.5em){
    .tables{
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 60em){
    .tables{
        grid-column: 1/3;
    }
}


	