@media only screen and (min-width: 37.5rem){
    
    header {
        flex-direction: row;
    }

    #pic.open {
        grid-row: 1/2;
    }

    #header.open{
        display: grid;
        grid-template-rows: auto 1fr;
    }

    #head.open {
        grid-row: 1/2;
    }

    #socmedia.open {
        grid-row: 1/2;
    }

    #navbar.open{
        grid-row: 2/3;
        grid-column: 1/4;
    }

    main {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        padding: 5px 0 5px 0;
    }

    .hero, .event, .news, .weather, .spotlight, .join{
        margin: 10px;
        padding: 10px;
    }

    .spotlight-container {
        margin: 10px;
    }

    .hero {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .join {
        display: flex;
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .join img{
        max-width: 20%;
    }

    .event {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    .weather {
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .spotlight-container {
        grid-column: 1/4;
        grid-row: 3/4;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .spotlight{
        width: 100%;
        margin: 0;
    }

    .news {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .hero {
        background-image: url("../images/medium.jpg");
   
    }

    .join a, .join-button-hero a{
        font-size: 2em;
    }

    .hero h4 {
        font-size: 2.5em;
    }

    .demo-info, .city-images{
        grid-column: 1/4;
    }

    .embed-map{
        max-width: 100%;
        min-height: 70%;
    }

    .demo-info, .city-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1em;
    }

    .city-images {
        margin-top: 1em;
    }

    .first {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .second {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .third, .fourth {
        grid-column: 2/3;
    }

    .third {
        grid-row: 1/2;
    }

    .fourth {
        grid-row: 2/3;
    }

    .demo-card img, .city-card img {
        max-width: 35vw;
    }

    .demo-card {
        margin: 0;
    }

    .city-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        border: 3px double #0084a8;
    }

    .demo-card {
        border: 3px double #0084a8;
    }

    img {
        transition: transform .3s;
    }
    
    img:hover {
        transform: scale(1.03);
        box-shadow: 0 0 10px #333;
    }

    form {
        max-width: 80%;
    }

    .container {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }

    .image {
        min-width: 400px;
        max-width: 600px;
    }

}

